ChatterBot==1.0.5
chatterbot-corpus==1.2.0
flask=2.0.2
Jinja2==2.11.1
mathparse==0.1.2
nltk==3.4.5
PyYAML==3.13
requests==2.23.0
spacy==2.3.5
SQLAlchemy==1.2.19
tqdm==4.44.1
urllib3==1.25.8
uuid
pyodbc
